
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^n2s/?$ /category/note-to-self/ [R=302,L]
RewriteRule ^n2s/(.*)$ /note-to-self/$1 [R=302,L]

RewriteRule ^(gallery|web-framework|)/([^\/]*).*$ /category/$1/$2 [R=302,L]

RewriteRule ^(about|sudaraka|author|sudaraka-?wijesinghe)$ /about-sudaraka-wijesinghe/ [R=302,L]

RewriteRule ^terms-and-conditions /about-the-web-site/terms-and-conditions/ [R=302,L]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REQUEST_URI} .wp-comments-post\.php*
RewriteCond %{HTTP_REFERER} !sudaraka.org.* [OR]
RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule (.*) ^http://%{REMOTE_ADDR}/$ [R=301,L]

</IfModule>

# END WordPress
